{% extends "index.html" %}

{% block content %}

<div class="row justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/W4Rebo3aEkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row justify-content-center home-title">
    Learn the RGB of Colors 
</div>
<div class="row justify-content-center">
    "It's last, but NOT the least."
</div>

{% endblock %}