{% extends "index.html" %}

{% block content %}
<script>
    let item = {{item|tojson}};
</script>

<div class="row justify-content-center learn-title">{{item.words}}</div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary level-begin" onclick="window.location.href = '/'">Home</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary level-begin" style="margin-top:10px;" onclick="window.location.href = '/quiz'">Quiz</button>
    </div>

</div>
{% endblock %}

