{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn_explore.js') }}"></script>

<script>
    let item = {{item|tojson}};
</script>


<div class="container" >
    <div class="learn-title">{{item.title}}</div>
    <div style="text-align: center; margin-bottom: 20px;">
        {{item.words}}
    </div>
    <div class="instructions">
        <div class="section-title">
            1D-Base Color
        </div>
        <br><br>
        We will use Blue as our Base Color, and observe how the Red/Green Gradient changes based on the changes of Blue value:
        <div id  = "base_value">
            rgb(0, 0, 0)
        </div>
        <canvas width="512" height="50" id="base"></canvas>
        Base Color: <br>
        <canvas width="50" height="50" id="base_color"></canvas>

        <hr />
        <div class="section-title">
            2D-Additional Color
        </div>
        <br><br>
        Add different amount of Red and Green to Blue:
        <canvas width="512" height="512" id="2D"></canvas>
        <div id  = "2D_value">
            rgb(0, 0, 0)
        </div>
        <canvas width="50" height="50" id="2D_color"></canvas>

    </div>

    <div class="row">
        <button type="button" class="btn btn-secondary hint-btn" style="margin-bottom: 30px;" id = "next" >Test Your Understanding</button>
    </div>

</div>
{% endblock %}

