{% extends "index.html" %}

{% block content %}
    <h1>Ready to Learn RGB?</h1>
    <div class="container">
        <div class="row" id="learn_Start">
            <button style = "margin-top: 10%; background-color: orange;" onclick="window.location.href = '/learn/1'">Start From Begining </button>
        </div>
        <div class="row" id="learn_ColorMix">
            <button style = "margin-top: 10%; background-color: orange;" onclick="window.location.href = '/learn/explore'">Play Color Wheels</button>
        </div>
    </div>


{% endblock %}
