{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_custom_p2.js') }}"></script>

<script>
    let item = {{item|tojson}};
    let image = {{image|tojson}}
    let difficulty = {{difficulty|tojson}}

   // var image2 = document.getElementById('output');
    //image2.src = image;

</script>

<div class="container">
    <div class="row custom-content">
        <div class="col-7">
            <div class="question">{{item.words}}</div>
            <div class="row d-flex justify-content-center">
                <div id = "circleRow"></div>
            </div>
            <div style="margin-top: 10px;">
                R: <input type ="text" id = "rbox" disabled>
                G: <input type ="text" id = "gbox" disabled>
                B: <input type ="text" id = "bbox" disabled>
            </div>
            <button type="button" class="btn btn-secondary submit-btn" id = "Submit" disabled>Submit</button>
        </div>

        <div class="col-5" id="base">
            <img id="output" src={{image|tojson}} width="300" height="227"/>
            <canvas id="base_canvas" width="500" height="400">
            </canvas>
        </div>
    </div>

    <pre id="output2"></pre>
</div>

{% endblock %}
