{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_multi.js') }}"></script>
<script>
    let item = {{item|tojson}};
    let ans = {{answers|tojson}};
</script>
<div id="progress"></div>
<div id="track"></div>
<div class="question">{{item.words}}</div>

<div class="container">
    <div class="row justify-content-center">
        {% for c in item.options %}
            <button class="circleBase" style = "background: rgb{{c}};" id = "{{c}}"></button>
        {% endfor %}
    </div>
</div>

<div id = "dialog" title = "Wrong One">
</div>
{% endblock %}
