{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_custom.js') }}"></script>
<script>
    let item = {{item|tojson}};
   /* var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]); 
    };*/
</script>

    <div class="row">
        <div class="col-6 custom-content">
            <div>
                <input type="file"  accept="image/*" name="image" id="file" style="display: none;">
            </div>
            <div id = "labelDiv">
                <label for="file" class="select-btn">Select an Image</label><br>
            </div>
        </div>

        <div class="col-6">
             <img id="output" hidden/>
        </div>
    </div>

    <!--Code adapted from Thapa, Jiwan. “How To Display Uploaded Image In Html Using Javascript ?” Webtrickshome, https://www.webtrickshome.com/forum/how-to-display-uploaded-image-in-html-using-javascript.-->

{% endblock %}
