{% extends "index.html" %}

{% block content %}

<div class="quiz-page"></div>

<div class="row justify-content-center learn-title">Select mode:</div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary level-begin" onclick="window.location.href = '/quiz/0'">Basic</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary level-begin" style="margin-top:10px;" onclick="window.location.href = '/custom_quiz_0'">Custom Photo</button>
    </div>

</div>

{% endblock %}