{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<div class="quiz-page">

<br>

</div>
<div class="row">
    <button style="margin-top: 10%; background-color: orange;" onclick="window.location.href = '/quiz/0'">Basic </button>

</div>
<br>
<div class="row">
    <button style="margin-top: 10%; background-color: orange;" onclick="window.location.href = '/custom_quiz_0'">Custom Photo </button>


</div>

{% endblock %}