{% extends "index.html" %}

{% block content %}
<script>
    let ans = {{ans|tojson}};
    let quiz = {{quiz|tojson}};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_basic_end.js') }}"></script>

<div class="learn-title">Score Report</div>
<div class="quiz-page" style="text-align: center;"></div>


<div class="row d-flex justify-content-center" style="margin-top: 20px;">
    <div class="col-2">
        <button type="button" class="btn btn-outline-secondary score-tag" onclick="window.location.href = '/learn/basic'">
            <div>
                <div class="level-title">Begineer</div><br>
                <div class="difficulty-1"></div>
                <div class="difficulty-2"></div>
                <div class="difficulty-3"></div>
            </div>
            <div style="font-weight:bold;">Teach Me from the Beginning</div>
            <div class="score-level" id="result_basic"></div>
        </button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-secondary score-tag" onclick="window.location.href = '/learn/mix_rg'">
            <div>
                <div class="level-title">Intermediate</div><br>
                <div class="difficulty-1"></div>
                <div class="difficulty-2" style="background-color:grey;"></div>
                <div class="difficulty-3"></div>
            </div>

            <div style="font-weight:bold;">Color Mixing: Red and Green</div>
            <div class="score-level" id="result_rg"></div>
        </button>
    </div>

    <div class="col-2">
        <button type="button" class="btn btn-outline-secondary score-tag" onclick="window.location.href = '/learn/mix_rb'">
            <div>
                <div class="level-title">Intermediate</div><br>
                <div class="difficulty-1"></div>
                <div class="difficulty-2" style="background-color:grey;"></div>
                <div class="difficulty-3"></div>
            </div>
            <div style="font-weight:bold;">Color Mixing: Red and Blue</div>
            <div class="row justify-content-center">
            <div class="score-level" id="result_rb"></div>

        </button>
    </div>

    <div class="col-2">
        <button type="button" class="btn btn-outline-secondary score-tag" onclick="window.location.href = '/learn/mix_gb'">
            <div>
                <div class="level-title">Intermediate</div><br>
                <div class="difficulty-1"></div>
                <div class="difficulty-2" style="background-color:grey;"></div>
                <div class="difficulty-3"></div>
            </div>
            <div style="font-weight:bold;">Color Mixing: Green and Blue</div>
            <div class="row justify-content-center">
            <div class="score-level" id="result_gb"></div>
        </button>
    </div>

    <div class="col-2">
        <button type="button" class="btn btn-outline-secondary score-tag" onclick="window.location.href = '/learn/explore'">
            <div>
                <div class="level-title">Advanced</div><br>
                <div class="difficulty-1"></div>
                <div class="difficulty-2" style="background-color:grey;"></div>
                <div class="difficulty-3" style="background-color:grey;"></div>
            </div>
            <div style="font-weight:bold;">Color Mixing: RGB</div>
            <div class="row justify-content-center">
            <div class="score-level" id="result_rgb"></div>
        </button>
    </div>
</div>

<div class="row justify-content-center">
    <button type="button" class="btn btn-primary again-btn"> Try Again </button>
</div>



{% endblock %}
