{% extends "index.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_mix.js') }}"></script>
<script>
    let item = {{item|tojson}};
    let ans = {{answers|tojson}};
</script>
<div id="progress"></div>
<div id="track"></div>
<div class="question">{{item.words}}</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="circleBase" style = "background: rgb{{item.solution}};" id = "{{item.solution}}"></div>
    </div>
    <br>
    <div class ='row justify-content-center'>
        R: <input type ="text" id = "rbox">
        G: <input type ="text" id = "gbox">
        B: <input type ="text" id = "bbox">
        <button type="button" class="btn btn-secondary" id = "Submit">Submit</button>
    </div>

</div>

<div id = "dialog" title = "Wrong One">
</div>
{% endblock %}
